/* recipe (in class) css */

h3 {
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    background-color: tomato;
}

.imgOne, .imgTwo, .imgThree, .para {
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}


h3:hover {
    background-color: cadetblue;
    color: orange;
    transform: scale(1.5);
}

.imgOne:hover, .imgThree:hover {
    transform: translateX(145px) rotate3d(4, 4.0, 1.0, 360deg);
}

.imgTwo:hover {
    transform: translateX(-145px) rotate3d(4, 4.0, 1.0, 360deg);
}

/* .imgThree:hover {
    transform: translateX(145px);
} */

.para:hover {
   background-color: palegoldenrod;
   border-radius: 10px;
}


/* transitions css */

.mainBody {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

.mainBody h1 {
    font-weight: 200;
    text-transform: uppercase;
}

.mainBody .navBar {
    text-align: left;
    padding: 10px;
}

.mainBody .navBar a {
    margin-right: 10px;
}


#containerOne {
    display: flex;
}

#containerTwo {
    display: flex;
}

.hover, .rotate, .translatex, .translateY, .threeD, .skew, .scale {

    width: 100px;
    line-height: 0;
    padding: 50px 0;
    margin: 50px auto;
    background-color: tomato;
    border-radius: 50px;
    cursor: pointer; 
    color: black;
    -moz-transition-property: color, background-color, transform;
    transition-property: color, background-color, transform;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
}

.hover:hover {
    color: darkgrey;
background-color: peachpuff;
}

.rotate:hover {
    background-color: darksalmon;
    transform: rotate(1turn);
}

.skew:hover {
    background-color: dodgerblue;
    color: darkslategray;
    transform: skew(30deg, 20deg);
}

.translatex:hover {
    background-color: honeydew;
    transform: translateX(50px);
}

.translateY:hover {
    background-color: lightgoldenrodyellow;
    transform: translateY(100px);
}


.scale:hover {
    background-color: mintcream;
    transform: scale(5);
}

.threeD:hover {
    background-color: lightsteelblue;
    transform: rotate3d(4, 4.0, 1.0, 360deg);
}

/* animation css */

.container {
    width: 100vw;
    height: 100vh;
}

.sky {
    width: 100%;
    background-color: skyblue;
    height: 270px;
}

.sun {
    width: 100px;
    line-height: 0;
    padding: 50px 0;
    /* margin: 50px auto; */
    background-color: yellow;
    border-radius: 50px;
}

.grass {
    width: 100%;
    background-color: green;
    height: 200px;
}

.road {
    background-color: grey;
    height: 300px;
}

.lines {
    font-size: 105px;
    font-weight: 800;
    color: white;
    /* border: 7px dashed white;
    height: 0px;
    width: 100%;
    position: absolute;
    top: 82%; */
}

.car img {
    width: 350px;
}

.car {
    position: absolute;
    top: 65%;
    left: -200px;
    z-index: 10;
    animation-duration: 6s;
    animation-name: goRight;
    animation-iteration-count: infinite;
  }
  
  @keyframes goRight {
      /* 0% {
          transform: translateX(0px);
      }

      25% {
          transform: translateX(220px);
      }

      50% {
          transform: translateX(-40);
      }

      75% {
          transform: translateX(600px);
      }

      100% {
          transform: translateX(880px);
      } */
    
    
    
      from {
      transform: translate(0,0);
    }
  
    to {
      transform: translate(1920px,0);
    }
  }

  /* css selectors css */

  .section1 h1 {
      color: darkred;
  }

  h1 {
      color: darkslategray
  }

  .section2 h1 {
      color: darkolivegreen;
  }

  .section3 h1 {
      color: darkorange;
  }

  .section2 ul li {
    list-style-type: none;
    color:darkslategray;
    font-size: 25px;
    transition-property: color, transform;
    transition-duration: 2s;
  }

  .section2 ul li:hover {
      color: white;
      transform: translateX(40px);
  }


  /* MY RECIPE CSS */

.recipeBody {
    font-family: 'Montserrat', sans-serif;
      background-color: #f4f1de;
      overflow-x: hidden;
      font-size: 15px;
      /* overflow-y: hidden; */
  }

.recipeBody .navBar {
    padding: 20px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}

.recipeBody .navBar a {
    color: #81b29a;
    margin-right: 10px;
    font-weight: 500;
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 500ms;
    transition-duration: 500ms;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.recipeBody h1 {
      text-align: center;
      padding: 50px;
      font-size: 30px;
      font-weight: 800;
  }


.content {
    margin-top: 50px;
    /* margin-bottom: 100px; */
    padding-bottom: 50px;
}

.info ul {
    margin-left: -30px;
}

.info ul li {
      list-style-type: none;
  }

.images {
      width: 400px;
      height: 400px;
      padding: 0px;
      border: 4px solid #81b29a;
      /* margin-left: 100px; */
  }

.subtitles {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

.infoTwo ul li {
    list-style-type:decimal;
    line-height: 20px;
    margin-bottom: 20px;
}

.infoTwo p {
    text-align: center;
}

.info p, .infoTwo p, .images, .recipeBody h1, .infoThree .subtitles {
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.info p:hover {
    color: #e07a5f;
    transform: translateX(-30px);
    cursor: pointer;
}

.infoTwo p:hover {
    color: #e07a5f;
    transform: translateX(30px);
    cursor: pointer;
}

.images:hover {
    cursor: pointer;
    padding: 10px;
    border: 10px solid #81b29a;
    transform: translateX(100px);
}

.recipeBody h1:hover {
    color: #e07a5f;
    cursor: pointer;
    transform: scale(1.5);
}

.infoThree .subtitles {
    text-align: center;
    font-size: 20px;
}

.infoThree .subtitles:hover {
    color: #e07a5f;
    transform: translateX(-30px);
    cursor: pointer;
}

.recipeBody .navBar a:hover {
    text-decoration: none;
    color: transparent;
}